body {
  background-color: #46cdcf;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: #c0c0c0;
  width: 5%;
}

img {
  height: 200px;
}

h1 {
  color: #abedd8;
}

h3 {
  color: #abedd8;
}
